*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/deploymentTargetDropDown.xml
.idea/misc.xml
app/src/main/res/drawable/a.jpg
app/src/main/res/drawable/b.jpg
app/src/main/res/drawable/c.jpg
app/src/main/res/drawable/d.png
